# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "7e066d5730ec03e381433cfd11fbb5c0"
name = "Digital Guruji"
application_url = "https://contamination-title-yard-feeding.trycloudflare.com"
embedded = true
handle = "digital-guruji-1"

[build]
include_config_on_deploy = true
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = ["https://contamination-title-yard-feeding.trycloudflare.com/auth/callback", "https://contamination-title-yard-feeding.trycloudflare.com/auth/shopify/callback", "https://contamination-title-yard-feeding.trycloudflare.com/api/auth/callback"]

[pos]
embedded = false
